
<div layout="row">
    <div flex>
<app-navigator [inventurId]="inventurId$ | async" [gruppen]="inventurGruppen$ | async" *ngIf="anzeigen$ | async">
</app-navigator>
    </div>
<mat-card *ngIf="(posten$ | async) as posten" flex="60">
    <mat-card-content>
        <app-inventur-position *ngFor="let p of posten; let i = index" [posten]="p.position" (geloescht)="loeschen(i)" [attr.data-index]="i">
        </app-inventur-position>

        <mat-table [dataSource]="posten$">
            <ng-container matColumnDef="bezeichnung">
                <mat-header-cell *matHeaderCellDef> Bezeichnung </mat-header-cell>
                <mat-cell *matCellDef="let p"> {{p.position.position}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="betrag">
                <mat-header-cell *matHeaderCellDef> Betrag </mat-header-cell>
                <mat-cell *matCellDef="let p"> {{p.position.waehrungsbetrag.betrag}} {{p.position.waehrungsbetrag.waehrung}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['bezeichnung', 'betrag']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['bezeichnung', 'betrag'];"></mat-row>
        </mat-table>
        <!--<table mat-table [dataSource]=”posten”>-->
        <!--</table>-->
    </mat-card-content>
    <h1>Hallo</h1>
    <mat-card-actions>
        <button mat-button (click)="openDialog()" id="hinzufuegen" *ngIf="auswahl$ | async">Hinzufügen</button>
    </mat-card-actions>
</mat-card>
</div>

    <!--<mat-card *ngIf="(koordinate$ | async) as koordinate">-->

        <!--<mat-card-title>-->
            <!--<h2 title>Titel</h2>-->
            <!--<h3 subtitle>{{koordinate.untertitel}}</h3>-->
        <!--</mat-card-title>-->

        <!--<mat-card-content>-->
            <!--<p>Bevor Sie mit der Haushaltsbuchführung beginnen können müssen Sie eine Inventur-->
                <!--durchführen, damit die Anfangsbestände Ihrer Konten ermittelt werden können.-->
                <!--Bei der Inventur erfassen Sie Anlagevermögen, Umlaufvermögen und Schulden.</p>-->

            <!--<form *ngIf="form$ | async as f" [formGroup]="f">-->
                <!--<app-inventur-gruppe [positionen]="f"></app-inventur-gruppe>-->
            <!--</form>-->

        <!--</mat-card-content>-->

        <!--<mat-card-actions *ngIf="next$ | async as next">-->
            <!--<a mat-button color="primary"-->
               <!--[routerLink]="['/inventur', next.inventurId, next.gruppe, next.kategorie]">Weiter</a>-->
        <!--</mat-card-actions>-->
        <!--<button color="primary" mat-fab type="button" (click)="hinzufuegen()"-->
                <!--[disabled]="false"-->
                <!--matTooltip="Inventur-Position hinzufügen. Drücken Sie auch '+' auf der Tastatur."-->
                <!--style="position: fixed; right: 20px; bottom: 20px">-->
            <!--<mat-icon aria-label="Inventarposition hinzufügen">add</mat-icon>-->
        <!--</button>-->
    <!--</mat-card>-->
