<mat-card>
    <mat-card-title id="title123">Inventur</mat-card-title>
    <mat-card-content>
        <p>Bevor Sie mit der Haushaltsbuchführung beginnen können müssen Sie eine Inventur
            durchführen, damit die Anfangsbestände Ihrer Konten ermittelt werden können.
            Bei der Inventur erfassen Sie Anlagevermögen, Umlaufvermögen und Schulden.</p>

        <form [formGroup]="inventur" (ngSubmit)="speichern()">
            <mat-horizontal-stepper linear (selectionChange)="auswahlGeaendert($event)">
                <mat-step label="Anlagevermögen" formGroupName="anlagevermoegen"
                          [stepControl]="anlagevermoegen">
                    <p>Erfassen Sie ihr Anlagevermögen.</p>
                    <app-inventur-gruppe [positionen]="anlagevermoegen">
                    </app-inventur-gruppe>
                    <div>
                        <button type="button" mat-button matStepperNext [disabled]="anlagevermoegen.invalid">
                            Weiter
                        </button>
                    </div>
                </mat-step>
                <mat-step label="Umlaufvermögen">
                    <p>Erfassen Sie ihr Umlaufvermögen</p>
                    <app-inventur-gruppe [positionen]="umlaufvermoegen">
                    </app-inventur-gruppe>
                    <div>
                        <button type="button" mat-button matStepperPrevious>Zurück</button>
                        <button type="button" mat-button matStepperNext [disabled]="umlaufvermoegen.invalid">
                            Weiter
                        </button>
                    </div>
                </mat-step>
                <mat-step label="Schulden">
                    <p>Erfassen Sie ihre Schulden</p>
                    <app-inventur-gruppe [positionen]="schulden">
                    </app-inventur-gruppe>
                    <div>
                        <button type="button" mat-button matStepperPrevious>Zurück</button>
                        <button type="submit" mat-raised-button color="primary" [disabled]="inventur?.invalid">
                            Inventur abschließen
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </mat-card-content>
    <button color="primary" mat-mini-fab type="button" (click)="hinzufuegen()"
            [disabled]="inventur?.invalid"
            matTooltip="Inventur-Position hinzufügen. Drücken Sie auch '+' auf der Tastatur."
            style="position: fixed; right: 20px; bottom: 20px">
        <mat-icon aria-label="Inventarposition hinzufügen">add</mat-icon>
    </button>

</mat-card>

