<mat-card *ngIf="inventar$ | async; else queryError">
    <mat-card-title id="inventar">Inventar</mat-card-title>
    <mat-card-content id="positionen" class="positionen">
        <ol style="list-style-type: upper-alpha">
            <li>
                <h4>Vermögen</h4>
                <ol style="list-style-type: upper-roman">
                    <li >
                        <h5>Anlagevermögen</h5>
                        <app-position *ngFor="let position of (anlagevermoegen$ | async)"
                                      [position]="position">
                        </app-position>
                    </li>
                    <li>
                        <h5>Umlaufvermögen</h5>
                        <app-position *ngFor="let position of (umlaufvermoegen$ | async)"
                                      [position]="position">
                        </app-position>
                    </li>
                </ol>
                <app-zeile [betrag]="(reinvermoegen$ | async)?.summeDesVermoegens"
                           [summe]="'zwischensumme'"
                           [text]="'Summe des Vermögens'">
                </app-zeile>
            </li>

            <li>
                <h4>Schulden</h4>
                <app-position *ngFor="let position of (schulden$ | async)"
                              [position]="position">
                </app-position>
                <app-zeile [betrag]="(reinvermoegen$ | async)?.summeDerSchulden"
                           [summe]="'zwischensumme'"
                           [text]="'Summe der Schulden'">
                </app-zeile>
            </li>

            <li>
                <h4>Ermittlung des Eigenkapitals</h4>
                <app-zeile [text]="'Summe des Vermögens'" [betrag]="(reinvermoegen$ | async)?.summeDesVermoegens"></app-zeile>
                <app-zeile [text]="'Summe der Schulden'" [betrag]="(reinvermoegen$ | async)?.summeDerSchulden"></app-zeile>
                <app-zeile [text]="'Reinvermögen (Eigenkapital)'" [summe]="'gesamtsumme'" [betrag]="(reinvermoegen$ | async)?.reinvermoegen"></app-zeile>
            </li>
        </ol>

        <mat-card-actions>
            <button mat-button color="primary" (click)="haushaltsbuchAnlegen()">Haushaltsbuch anlegen</button>
            <button mat-button (click)="inventurWiederholen()">Inventur wiederholen</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<ng-template #queryError>
    <app-query-error></app-query-error>
</ng-template>
