
<div style="padding: 20px; width: 400px; margin-left: auto; margin-right: auto">
    <h2>Anmeldung</h2>
    <p>Geben Sie ihren Namen ein, um ein neues
        Haushaltsbuch zu beginnen.</p>
<form [formGroup]="form" (ngSubmit)="submitState({name: 'asdasd'})">
    <div>
        <div class="form-group">
            <md-input-container hintLabel="Hinweis">
            <md-placeholder for="name">Gebe Deinen Namen ein</md-placeholder>

            <input mdInput type="text"
                   id="name"
                   formControlName="name"
                   required autofocus>
                <md-icon mdPrefix>person</md-icon>

            </md-input-container>
        </div>
    </div>

    <button md-button color="primary" type="submit">Los Geht's</button>
</form>

</div>
