<h2 mat-dialog-title>Inventar erfassen</h2>
<mat-dialog-content>
    <form layout="column">


            <mat-form-field >
                <mat-select placeholder="Kategorie">
                    <mat-option value="Anlagevermögen">Anlagevermögen</mat-option>
                    <mat-option value="Umlaufvermögen">Umlaufvermögen</mat-option>
                    <mat-option value="Darlehen">Darlehen</mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field >
                <input matInput #userElement #userControl="ngModel" placeholder="Position"
                       type="text" maxlength="30" name="position" [(ngModel)]="position" required>
            </mat-form-field>


            <mat-form-field >
                <input matInput #userElement #userControl="ngModel" placeholder="Betrag" type="text"
                       maxlength="30" name="betrag" [(ngModel)]="betrag" required>
                <mat-icon matSuffix>account_balance</mat-icon>
            </mat-form-field>


    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close="false">Abbrechen</button>
    <button mat-button color="primary" mat-dialog-close="true">Speichern</button>
</mat-dialog-actions>
