<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Modell</title>

    <style> .modell {
        border: solid 1px black;
        width: 70mm;
        height: 70mm;
        padding: 4mm;
        margin: 4mm;
        overflow: hidden;
        float: left;

        -moz-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .modell p {
        font-size: 28pt;
        font-family: sans-serif;
    }

    .anweisung {
        background-color: skyblue;
    }

    .ereignis {
        background-color: lightsalmon;
    }

    .information {
        background-color: lightgreen;
    }

    </style>

</head>

<body>
<h1>Kontext Landkarte</h1>
    $bc
<ul>
    #foreach($k in $bc)
        <li>$k.Name</li>
        <li><a href="${k.Id}.html">$k.Name</a> (Ereignisse: $kontext.getEreignisse().size()
            Anweisungen: ${kontext.getAnweisungen().size()}
            Informationen: ${kontext.getInformationen().size()})
        </li>
    #end

    #foreach($s in $bcstring)
        <li>$s</li>
    #end
</ul>

</body>
</html>