<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Modell</title>

    <style> .modell {
        border: solid 1px black;
        width: 70mm;
        height: 70mm;
        padding: 4mm;
        margin: 4mm;
        overflow: hidden;
        float: left;

        -moz-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .modell p {
        font-size: 28pt;
        font-family: sans-serif;
    }

    .anweisung {
        background-color: skyblue;
    }

    .ereignis {
        background-color: lightsalmon;
    }

    .information {
        background-color: lightgreen;
    }

    </style>

</head>

<body>
<h1>${kontext}</h1>

    #foreach ($anweisung in ${anweisungen})
    <div class="modell anweisung">
        <p>$anweisung</p>
    </div>
    #end

    #foreach ($ereignis in ${ereignisse})
    <div class="modell ereignis">
        <p>$ereignis</p>
    </div>
    #end

    #foreach ($information in ${informationen})
    <div class="modell information">
        <p>$information</p>
    </div>
    #end

</body>
</html>