<nav class="navbar-fixed blue darken-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons">credit_card</i> Haushaltsbuch</a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['home']">Home</a></li>
            <li><a [routerLink]="['detail']">Detail</a></li>
            <li><a [routerLink]="['about']">About</a></li>
            <li><a href="http://localhost:8080/browser.html#/api">API Browser</a></li>
        </ul>

        <a href="#" data-activates="side-menu" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>


        <ul class="side-nav" id="side-menu">
            <li>
                <img src="assets/icon/16599-illustration-of-stacks-of-gold-coins-ve.svg" width="100%"/>
            </li>
            <li><a [routerLink]="['home']"><i class="material-icons">home</i>Home</a></li>
            <li><a [routerLink]="['detail']"><i class="material-icons">details</i>Detail</a></li>
            <li><a [routerLink]="['about']"><i class="material-icons">info</i>About</a></li>
            <li><a href="http://localhost:8080/browser.html#/api"><i class="material-icons">open_in_browser</i>API
                Browser</a></li>
        </ul>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col m12 l12">-->
<!--<ul class="collapsible" data-collapsible="expandable">-->
<!--<li>-->
<!--<div class="collapsible-header"><i class="material-icons">notifications</i>-->
<!--Webservice Response-->
<!--</div>-->
<!--<div class="collapsible-body">-->
<!--<pre>{{index}}</pre>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<footer class="blue darken-4">
    <div class="footer-copyrightcontainer">
        <span>&copy; 2016 Matthias Haschka</span>
        | <span><a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache Lizenz 2.0</a></span>
        | <span id="build">Build {{build}}</span>
    </div>
</footer>
