nav {
    /*padding-left: 0;*/
}

nav, footer {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

footer {
    color: #ffffff;
}

#sidenav-overlay {
    z-index: 0 !important;
}

#side-menu li {
    border-bottom: grey solid 1px;
}
